<div class="container index ml-4 mr-4">
<div class="card-deck">
  <div class="card border1 mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= link_to 'Proyectos', projects_path, class:'nav-link1' %></h5>
      <p class="card-text"><%= link_to 'D.S.19', class:'nav-link1' %></p>
      <p class="card-text"><%= link_to 'D.S.49', class:'nav-link1' %></p>
      <p class="card-text"><%= link_to 'Privados', class:'nav-link1' %></p>
    </div>
  </div>

  <div class="card border2 mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= link_to 'Las Buenas Noticias', news_path, class:'nav-link2' %></h5>
    </div>
  </div>

  <div class="card border3 mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= link_to 'Nosotros', team_path, class:'nav-link3' %></h5>
      <p class="card-text nosotros">misión, visión, contacto, ubicación</p>
    </div>
  </div>

  <div class="card border4 mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= link_to 'Info Adicional', info_path, class:'nav-link4' %></h5>
    </div>
  </div>

</div>
</div>
<hr>
