<div class="container index">
<div class="card-deck">
  <div class="card border1 mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title proy"><%= link_to 'Proyectos', projects_path %></h5>
      <p class="card-text proy"><%= link_to 'D.S.19', projects_path %></p>
      <p class="card-text proy"><%= link_to 'D.S.49', projects_path %></p>
      <p class="card-text proy"><%= link_to 'Privados', projects_path %></p>
    </div>
  </div>
  <div class="card border2 mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title buenas"><%= link_to 'Las Buenas Noticias', news_path %></h5>
    </div>
  </div>
  <div class="card border3 mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title nosotros">Nosotros</h5>
      <p class="card-text nosotros">misión, visión, contacto, ubicación</p>
    </div>
  </div>
  <div class="card border-warning mb-3" style="max-width: 18rem;">
    <div class="card-body text-warning">
      <h5 class="card-title">Info Adicional</h5>
    </div>
  </div>
</div>
</div>
<hr>
